.about {
  margin: 100px auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}
.about-left {
  flex-basis: 40%;
  position: relative;
}
.about-right {
  flex-basis: 56%;
  color: #493f3f;
}
.about-img {
  width: 100%;
  border-radius: 10px;
}
.play-icon {
  width: 50px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  opacity: 0.5;
}
/* ---------- media query ---------- */
@media (max-width: 800px) {
  .about {
    flex-direction: column;
  }
  .about-left {
    flex-basis: 100%;
    margin: 20px;
  }
  .about-right {
    flex-basis: 100%;
  }
}
