.benefits {
  margin: 80px auto;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.benefits img {
  width: 100%;
  border-radius: 10px;
  display: block;
}
.benefit {
  flex-basis: 31%;
  position: relative;
}
.caption {
  font-size: 14px;
  border-radius: 10px;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background: rgba(0, 15, 152, 0.3);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  color: #fff;
  cursor: pointer;
  opacity: 0;
  padding-top: 70%;
  transition: 0.4s;
  text-align: center;
}
.benefit:hover .caption {
  opacity: 1;
  padding-top: 0;
  border-radius: 10px;
}
/* ---------- media query ---------- */
@media (max-width: 650px) {
  .benefits {
    flex-direction: column;
  }
  .benefit {
    flex-basis: 100%;
    margin: 10px auto;
  }
}
